$font_size: 25px;
$title: #000;
$link: #00c2ad;
$white: #fff;

.rev {
    background-color: $link !important;
    .navbar-nav a, .navbar-toggler .fa-bars {
        color: $white !important;
    }
    #mob {
        display: block;
    }
    #desk {
        display: none;
    }
}

nav {
    font-size: $font_size;
    // background: #ffffff00;
    .navbar-nav a, .navbar-toggler .fa-bars {
        color: $link;
    }
    .navbar-nav a:hover, .navbar-nav a:focus {
        text-decoration: none;
        color: #00ffe5;
    }
    #mob {
        display: none;
    }
}


.index {
    background-color: #00000000;
    background-image: url("../img/global_travel_detail.jpg");
    
    min-height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}

.btn-my {
    background-color: $link !important;
    color: $white !important;
}
button.btn-my:hover, button.btn-my:focus, a.btn-my:hover, a.btn-my:focus {
    background-color: $white !important;
    color: $link !important;
}

section[role="section"] .row .cont {
   height: 194px;
   div span {
       font-size: 1.5em !important;
   }
   :hover, :focus {
       cursor: auto !important;
   }
}

.cont {
    height: 450.55px;
    overflow: hidden;

    div:first-child{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    div:first-child::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #00c2af66; 
    }

    div span {
        font-size: 3em;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        color: #fff;
    }
    :hover, :focus {
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1).2;
        transform: scale(1.2);
    }
    
}

.cont:hover div:first-child::before, .cont:focus div:first-child::before{
    display: none;
}

.cont:hover div span, .cont:focus div span {
    display: none;
}



@media (max-width: 992px) {
    nav {
        background: $link;
        .navbar-nav a, .navbar-toggler .fa-bars {
            color: $white;
        }
        #desk {
            display: none;
        }
        #mob {
            display: block;
        }
    }
}